@import url(http://fonts.googleapis.com/css?family=Fauna+One|Armata|Pathway+Gothic+One);

/*WebSentials CSS by GeekyGamer14 */

/* Main font*/
body{
	font-family: 'Armata', sans-serif;
}

/*h1, h2, h3, h4, h5{
	font-family: 'Pathway Gothic One', sans-serif;
}*/

/*Links*/
a, a:before, a:after{
	-webkit-transition: 
	transition: color .5s;
	text-decoration: none;
	color: gray;
}

a:hover, a:before:hover, a:after:hover{
	color: blue;
	text-decoration: underline;
}

/*Buttons*/
button{
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	height: 50px;
	border:none;
	background-color: #969696;
	cursor: hand;
}

button:hover{
	background-color: gray;
}

button .btn-big{
	font-size: 50px;
}
